:root {
    --color-1: #1E3955;
    --color-2: #213F5F;
    --color-3: #2C537B;
    --color-4: #23405E;
    --color-5: #152638;
    --color-6: #121f2c;
    --color-7: rgb(28, 54, 82);
    --color-8: #2554cc;
    --color-9: #6E707C;
    --color-10: #8f741b;
}

body {
   /* height: 100%;
    background: #B59410;
    background: -webkit-linear-gradient(top, rgba(181,148,16,1), rgba(0,0,0,1)) no-repeat;
    background-attachment: fixed;
    
    place holder from earlier design
    */

    font-family:'Times New Roman', Times, serif;
    overflow: hidden;
    display: none;
}

textarea {
    font-family:'Times New Roman', Times, serif;
}

::-webkit-scrollbar {
    width: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.index-page-container {
    background-color: var(--color-9);
    border-radius: 15px;
    position: absolute;
    width: 96.5%;
    height: 96.5%;
    left: 2.0%;
}

